
<app-common-datagrid
    [gridItems]="gridItems"
    [loading]="loading"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [columnHeader]="columnHeader"
    (searchData)="onSearch($event)"
    (actionSelected)="onActionSelected($event)"
    (pageChanged)="onPageChanged($event)"
    (pageSizeChanged)="onPageSizeChanged($event)"
    (filterPopupRequested)="onFilterPopupRequested()"
    (columnArrangementRequested)="showColumnArrangementPopup()"
    >
</app-common-datagrid>