<div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">Arrange Column</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="close()"></button>
</div>
<form>
    <div class="modal-body">
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let col of column" cdkDrag>{{col.prettyName}}</div>
          </div>        
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="close()">Close</button>
            <button type="submit" class="btn btn-success" id="add-btn" (click)="save()">Save</button>
        </div>
    </div>
</form>