<footer class="footer">
    <div class="container-fluid">
        <div class="row" *ngIf="!isOffline">
            <div class="col-sm-4">
               © {{year}} BCAS BIOMED
            </div>
            <div class="col-sm-4" *ngIf="userRole == 'Engineer'">
               <div class="card bg-light overflow-hidden">
                  <div class="progress bg-secondary-subtle rounded-0" style="height: 2px;">
                     <div class="progress-bar bg-secondary" role="progressbar" 
                          [style.width.%]="cacheProgress" 
                          [attr.aria-valuenow]="cacheProgress"
                          aria-valuemin="0" 
                          aria-valuemax="100">
                     </div>
                  </div>
                  <div class="card-body">
                      <div class="d-flex">
                          <div class="flex-grow-1">
                              <h6 class="mb-0" style="text-align: center;"><b class="text-secondary">{{ cacheProgress }}%</b>
                                  <ng-container *ngIf="cacheProgress != 100"> Caching in progress...</ng-container>
                                  <ng-container *ngIf="cacheProgress == 100">
                                    Cache Data - {{getCurrentDateTime()}} <a href="javascript:void(0)" (click)="refresh()"> - refresh</a>
                                  </ng-container>
                              </h6>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-4" style="text-align: right;" *ngIf="userRole == 'Engineer'">
               {{ BUILD_INFO.buildNumber }}
            </div>
            <div class="col-sm-8" style="text-align: right;" *ngIf="userRole != 'Engineer'">
                {{ BUILD_INFO.buildNumber }}
             </div>
        </div>
        <div class="row" *ngIf="isOffline">
            <div class="col-sm-4">
                © {{year}} BCAS BIOMED
             </div>
             <div class="col-sm-4" style="text-align: center;">
                <div class="alert alert-warning d-flex align-items-center" *ngIf="isOffline">
                    <i class="ri-wifi-off-line me-2"></i>
                    <span>Currently Offline Since - {{getCurrentDateTime()}}</span>
                </div>
                
             </div>
             <div class="col-sm-4" style="text-align: right;">
                {{ BUILD_INFO.buildNumber }}
             </div>
        </div>
    </div>
</footer>