

<div class="modal-header bg-light p-3">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="close()"></button>
</div>
<div class="modal-body" style="height: 90vh;">
<div class="row mb-3">
                    <app-customers-data-grid
                    [gridItems]="gridItems"
                    [loading]="loading"
                    [totalItems]="totalItems"
                    [currentPage]="currentPage"
                    [pageSize]="pageSize"
                    [columnHeader]="columnHeader"
                    [isEngineer]="false"
                    (actionSelected)="handleAction($event.action, $event.item)"
                    (searchData)="onSearch($event)"
                    (pageChanged)="onPageChanged($event)"
                    (pageSizeChanged)="onPageSizeChanged($event)"></app-customers-data-grid>
                </div>
</div>
<div class="modal-footer">
    <div class="text-end">
        <button type="submit" class="btn btn-primary" (click)="resetDrillDown()">
            Reset
        </button>
    </div>
</div>