<div class="main-wrapper">
  <!-- Topbar -->
  <app-topbar></app-topbar>
  
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  
  <!-- Main Content Area -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- This is where your dashboard content will be projected -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <app-footer></app-footer>
  
  <!-- Right Sidebar -->
  <!-- <app-rightsidebar></app-rightsidebar> -->
</div>