<div class="job-summary-container">

  <div class="text-center py-5" *ngIf="!summaryData">
    <i class="ri-file-list-line display-4 text-muted"></i>
    <h6 class="text-muted mt-3">No Summary Data Available</h6>
    <p class="text-muted">Complete the previous steps to see summary information.</p>
  </div>

    <!-- Summary Content -->
    <div class="row">
        <!-- Equipment Checks Summary -->
        <app-section-header [title]="'Equipment Checks'"></app-section-header>
        <div class="row data-table">
            <table class="table table-responsive">
                <thead class="table-light">
                <tr>
                    <th scope="col" class="header-section">Asset Number</th>
                    <th scope="col" class="header-section">Serial Number</th>
                    <th scope="col" class="header-section">GMDN Number</th>
                    <th scope="col" class="header-section">ECRI Number</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span [class.text-danger]="!summaryData?.equipmentChecks?.newAssetNumber" 
                              [class.fw-bold]="!summaryData?.equipmentChecks?.newAssetNumber">
                            {{ summaryData?.equipmentChecks?.newAssetNumber || 'N/A' }}
                        </span>
                    </td>
                    <td>
                        <span [class.text-danger]="!summaryData?.equipmentChecks?.newSerialNumber" 
                              [class.fw-bold]="!summaryData?.equipmentChecks?.newSerialNumber">
                            {{ summaryData?.equipmentChecks?.newSerialNumber || 'N/A' }}
                        </span>
                    </td>
                    <td>
                        <span [class.text-danger]="!summaryData?.equipmentChecks?.newgmdn" 
                              [class.fw-bold]="!summaryData?.equipmentChecks?.newgmdn">
                            {{ summaryData?.equipmentChecks?.newgmdn || 'N/A' }}
                        </span>
                    </td>
                    <td>
                        <span [class.text-danger]="!summaryData?.equipmentChecks?.newecri" 
                              [class.fw-bold]="!summaryData?.equipmentChecks?.newecri">
                            {{ summaryData?.equipmentChecks?.newecri || 'N/A' }}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <app-section-header [title]="'Survey Details'"></app-section-header>
        <div class="row data-table" *ngIf="surveyWithSections">

            <div class="col-xl-12 mb-3" *ngIf="summaryData?.surveyData?.survey.sections">
                <div class="alert alert-info">
                    <p class="mb-1" *ngIf="summaryData?.surveyData?.survey.name">
                        <strong>Survey Name:</strong> {{ summaryData?.surveyData?.survey.name }}
                    </p>
                    <p class="mb-0" *ngIf="summaryData?.surveyData?.survey.description">
                        <strong>Description:</strong> {{ summaryData?.surveyData?.survey.description }}
                    </p>
                </div>
            </div>

            
            <div class="col-xl-12 survey-section" *ngFor="let section of surveyWithSections.sections">
                <h4>{{ section.name }}</h4>
                <h6>{{ section.description }}</h6>
                <table class="table align-middle mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="question-column">Question/s</th>
                            <th scope="col" style="width: 40%; text-align: center;">Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of section.questions">
                            <td class="question-column">{{ question.description }}</td>
                            <td style="text-align: center;">
                                <ng-container *ngIf="question.answer">
                                    <!-- Text Answer -->
                                    <span *ngIf="question.questionTypeId !== 7 && question.questionTypeId !== 8 && question.questionTypeId !== 9" class="answer-text">
                                        {{ question.answer.value }}
                                    </span>
                                    
                                    <!-- Image Answer -->
                                    <div *ngIf="question.questionTypeId === 7 && question.answer.attachments && question.answer.attachments.length > 0" class="image-answer">
                                        <ng-container *ngFor="let image of question.answer.attachments">
                                            <img [src]="'data:' + image.mimeType + ';base64,' + image.file" 
                                                alt="Survey Answer Image"
                                                class="img-thumbnail"
                                                style="max-width: 100px; max-height: 60px; cursor: pointer; margin: 2px;"
                                                (click)="openImageModal(image)">
                                        </ng-container>
                                    </div>

                                    <!-- File Answer -->
                                    <div *ngIf="question.questionTypeId === 8 && question.answer.attachments && question.answer.attachments.length > 0" class="image-answer">
                                        <ng-container *ngFor="let file of question.answer.attachments">
                                            <div class="d-flex align-items-center">
                                                <div class="file-icon me-3">
                                                    <i [class]="surveyProcessService.getFileIcon(file.name)" style="font-size: 2rem;"></i>
                                                </div>
                                                <div class="file-info flex-grow-1">
                                                    <div class="file-name fw-bold text-truncate" [title]="file.name">
                                                        {{ file.name }}
                                                    </div>
                                                    <small class="text-muted d-block">{{ surveyProcessService.getFileType(file.name) }}</small>
                                                </div>
                                                 <!-- Action buttons -->
                                                <div class="file-actions mt-2 d-flex gap-2">
                                                    <button type="button" 
                                                            class="btn btn-sm btn-outline-primary"
                                                            (click)="surveyProcessService.downloadFile(file)"
                                                            title="Download file">
                                                        <i class="ri-download-line me-1"></i>
                                                        Download
                                                    </button>
                                                </div>
                                            </div>
                                           
                                        </ng-container>
                                    </div>

                                    <span *ngIf="question.questionTypeId === 9" class="answer-text">
                                        <img [src]="question.answer.value" 
                                                alt="Survey Answer Image"
                                                class="img-thumbnail"
                                                style="max-width: 100px; max-height: 60px; cursor: pointer; margin: 2px;"
                                            (click)="openImageModal(question.answer.value)">
                                    </span>
                                </ng-container>
                                
                                <span *ngIf="!question.answer" class="text-danger">
                                    No Answer
                                </span>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <!-- Test Equipment Summary -->
        <app-section-header [title]="'Test Equipment'"></app-section-header>
        <div class="text-center py-5" *ngIf="getTestEquipmentSummary().length === 0">
            <i class="ri-file-list-line display-4 text-muted"></i>
            <h6 class="text-muted mt-3">No Equipment Test Data Available</h6>
        </div>
        <div class="row data-table" *ngIf="getTestEquipmentSummary().length > 0">
            <table class="table table-responsive">
                <thead class="table-light">
                <tr>
                    <th scope="col" class="header-section">Type Name</th>
                    <th scope="col" class="header-section">Manufacturer Name</th>
                    <th scope="col" class="header-section">Model Name</th>
                    <th scope="col" class="header-section">Asset Number</th>
                    <th scope="col" class="header-section">Serial Number</th>
                    <th scope="col" class="header-section">Last Service Date</th>
                    <th scope="col" class="header-section">Last Service Expiry Date</th>
                    <th scope="col" class="header-section">Retired</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let equipment of getTestEquipmentSummary(); let i = index">
                    <td>{{ equipment.typeName }}</td>
                    <td>{{ equipment.manufacturerName }}</td>
                    <td>{{ equipment.modelName }}</td>
                    <td>{{ equipment.assetNumber }}</td>
                    <td>{{ equipment.serialNumber }}</td>
                    <td>
                        <span [class.text-danger]="!equipment.lastServiceDate" 
                              [class.fw-bold]="!equipment.lastServiceDate">
                            {{ equipment.lastServiceDate ? (equipment.lastServiceDate | date: 'dd/MM/yyyy') : 'N/A' }}
                        </span>
                    </td>
                    <td>
                        <span [class.text-danger]="!equipment.lastServiceExpiryDate" 
                              [class.fw-bold]="!equipment.lastServiceExpiryDate">
                            {{ equipment.lastServiceExpiryDate ? (equipment.lastServiceExpiryDate | date: 'dd/MM/yyyy') : 'N/A' }}
                        </span>
                    </td>
                    <td>
                        <span [class.text-success]="!equipment.isRetired" 
                              [class.text-danger]="equipment.isRetired"
                              [class.fw-bold]="equipment.isRetired">
                            {{ equipment.isRetired ? 'Yes' : 'No' }}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
